$primary-color-dark:   #303F9F;
$primary-color:        #3F51B5;
$primary-color-light:  #C5CAE9;
$primary-color-text:   #FFFFFF;
$accent-color:         #536DFE;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$secondary-color-light: #e8e4e4;
$secondary-color-dark: #8b969d; 

$divider-color:        #BDBDBD;

$color-black: black;
$color-body-gral:#777777;

//grid

$grid-width: 90vw;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;