
.header {
  height: 80vh;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  
  &__logo {
    height: 3rem;
  }
  
  &__main-title-box {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.header--pages {
  height: 80vh;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  
  &__logo {
    height: 3rem;
  }
  
  &__main-title-box {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.heading-primary {
color: white;
text-transform: uppercase;
margin-bottom: 6rem;
white-space: nowrap;

&--main {
  display: block;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 2rem;
  animation-name: movinleft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}


&--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.7rem;
    animation-name: movinright;
    animation-duration: 3s;
    animation-timing-function: ease-in;
 }
}

